[Unit]
Description=Backend Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=expense
WorkingDirectory=/app
Environment=DB_HOST="{{ login_host }}"
ExecStart=/bin/node /app/index.js
Restart=on-failure
RestartSec=5
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target
